
body {

	background-color: #759493;

}


h1 {

	color:#D4E6F1;
    font-family: "Muli";
    margin-left: 10px;

}


p {
  
  color: #EAF2F8;
  font-family: "Muli";
  margin-left: 10px;

} 


div {

  color: white ;
  font-family: "Muli";
  margin-left: 20px;

} 


svg {

  font-family: "Muli";
  background-color: #F4FAED;

}


g {

	background-color: #B3D6DC

}

.axis path,
.axis line {

	fill: none;
	stroke: #737CA1;
	shape-rendering: crispEdges;

	}

.x.axis path {

	display: default;

	}

.y.axis path {

	display: default;
	
	}

.line {

	fill: none;
	stroke: #FF9980;
	stroke-width: 2px;
	
	}
